    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- btnradio (income/expense) -->
        <div class="col-lg-4">
            <label class="form-label mt-1">Type</label><br>
            <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" value="Income" id="btnradio1" autocomplete="off" required {{income_checked}}>
                <label class="btn btn-outline-primary" for="btnradio1">Income</label>
                <input type="radio" class="btn-check" name="btnradio" value="Expense" id="btnradio2" autocomplete="off" {{expense_checked}}>
                <label class="btn btn-outline-primary" for="btnradio2">Expense</label>
            </div>
        </div>

        <!-- account_name -->
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label mt-1">Category</label>
                <select required name="account_name" class="form-select" id="exampleSelect1">
                    <option value="" disabled {{ default_selected }}>--- Select account type first ---</option>
                </select>
            </div>
        </div>
        <script>
            // Option of the income/expenses list in HTML code with Jinja2
            let income_list = `
                <option value="" disabled {{ default_selected }}>--- Income ---</option>
                {% for i in income_list %}
                <option value="{{ i[0] }}" {{ i[1] }}>{{ i[0] }}</option>
                {% endfor %}`;
            let expense_list = `
                <option value="" disabled {{ default_selected }}>--- Expense ---</option>
                {% for i in expense_list %}
                <option value="{{ i[0] }}" {{ i[1] }}>{{ i[0] }}</option>
                {% endfor %}`

            // If user click the Income or Expense radio button (type of account)
            document.querySelector("#btnradio1").addEventListener("click", function(){
                document.querySelector("#exampleSelect1").innerHTML = income_list;
            });
            document.querySelector("#btnradio2").addEventListener("click", function(){
                document.querySelector("#exampleSelect1").innerHTML = expense_list;
            });

            /* Used in Edit mode only */
            // If income radio button was selected, then display income list
            // If expense radio button was selected, then display expense list
            document.addEventListener("DOMContentLoaded", function(){
                if (document.querySelector("#btnradio1").hasAttribute('checked'))
                    {
                        document.querySelector("#exampleSelect1").innerHTML = income_list;
                    }
                else if (document.querySelector("#btnradio2").hasAttribute('checked'))
                    {
                        document.querySelector("#exampleSelect1").innerHTML = expense_list;
                    }
            });
        </script>
    </div>


    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- amount -->
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label mt-1">Amount</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Rp</span>
                        <input required name="amount" type="number" min="1" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{amount_now}}">
                    </div>
                </div>
            </div>
        </div>

        <!-- date and time -->
        <div class="col-lg-4">
            <label class="form-label mt-1">Date & Time</label>
            <div class="input-group mb-3">
                <input name="date" type="date" value="{{ date_now }}" class="form-control">
                <input name="time" type="time" value="{{ time_now }}" class="form-control">
            </div>
        </div>

    </div>


    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- description -->
        <div class="col-lg-8 mb-3">
            <label class="form-label mt-1">Description</label>
            <input name="description" type="text" class="form-control" value="{{ decs_now }}">
        </div>

    </div>

    <!-- submit -->
    <button type="submit" class="btn btn-outline-primary">Submit</button>