<hr class="mb-5">
<h4 class="mb-5 fw-bold">Record</h4>

<form action="/record" method="post">
    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- btnradio (income/expense) -->
        <div class="col-lg-4">
            <label class="form-label mt-1">Type</label><br>
            <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" value="Income" id="btnradio1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1">Income</label>
                <input type="radio" class="btn-check" name="btnradio" value="Expense" id="btnradio2" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio2">Expense</label>
            </div>
        </div>

        <!-- account_name -->
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label mt-1">Category</label>
                <select required name="account_name" class="form-select" id="exampleSelect1">
                    <option value="" disabled selected>--- Income ---</option>
                    <option value="Income">Income</option>
                    <option value="Gifts">Gifts</option>
                    <option disabled>--- Expense ---</option>
                    <option value="Food and Drinks">Food and Drinks</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Housing">Housing</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Vehicle">Vehicle</option>
                    <option value="Life and Entertainment">Life and Entertainment</option>
                    <option value="Internet or PC/Devices">Internet or PC/Devices</option>
                    <option value="Financial Expenses">Financial Expenses</option>
                    <option value="Investments">Investments</option>
                    <option disabled>--- Other ---</option>
                    <option value="Others">Others</option>
                </select>
            </div>
        </div>

    </div>


    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- amount -->
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label mt-1">Amount</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Rp</span>
                        <input required name="amount" type="number" min="1" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
        </div>

        <!-- date and time -->
        <div class="col-lg-4">
            <label class="form-label mt-1">Date & Time</label>
            <div class="input-group mb-3">
                <input name="date" type="date" value="{{ date_now }}" class="form-control">
                <input name="time" type="time" value="{{ time_now }}" class="form-control">
            </div>
        </div>

    </div>


    <div class="row mb-3">

        <div class="col-lg-2"></div>

        <!-- description -->
        <div class="col-lg-8 mb-3">
            <label class="form-label mt-1">Description</label>
            <input name="description" type="text" class="form-control">
        </div>

    </div>

    <!-- submit -->
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>

<hr class="mt-5">