{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!-- BUTTON, SEARCH, FILTER-->
<div class="row">
    <div class="col-lg-1">
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#demo">Record</button>
    </div>

        <div class="col-lg-4">
            <form action="/" method="post">
                <div class="input-group mb-3">
                    <input name="search_vield" type="text" class="form-control" placeholder="Anything" aria-label="Search" aria-describedby="button-addon2">
                    <button name="search_btn" value="search_btn" class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>

    <div class="col-lg-4">
        <form action="/" method="post">
            <div class="input-group mb-3">
                <input name="start_date" type="date" class="form-control">
                <input name="end_date" type="date" class="form-control">
                <button name="filter_btn" value="between" class="btn btn-primary" type="submit" id="button-addon2">Filter</button>
            </div>
        </form>
    </div>

    <div class="col-lg-1 mb-3">
        <button class="btn btn-primary mb-3" onclick="location.href = '/';">This month</button>
        </form>
    </div>
    <div class="col-lg-1 mb-3">
        <form action="/" method="post">
            <button name="filter_btn" value="thisyear" type="submit" class="btn btn-primary mb-3">This year</button>
    </div>
    <div class="col-lg-1 mb-3">
            <button name="filter_btn" value="alltime" type="submit" class="btn btn-primary mb-3">All time</button>
    </form>
    </div>
</div>

<!-- RECORD -->
<div id="demo" class="collapse">
    <hr class="mb-5">
    <h4 class="mb-5 fw-bold">Record</h4>
    <form action="/record" method="post">
        {% include "include/record.html" %}
    </form>
    <hr class="mt-5">
</div>
<br>

<!-- TABLE -->
<h4 class="mb-5 fw-bold">{{ label }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:1%;"></th>
            <th class="text-start">Category</th>
            <th class="text-start">Date</th>
            <th class="text-start">Time</th>
            <th class="text-start">Description</th>
            <th class="text-end">Income</th>
            <th class="text-end">Expense</th>
            <th style="width:1%;"></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>
                <form action="/delete" method="post">
                    <input type="hidden" name="error_code" value="{{ record[8] }}">
                    <input class="btn btn-outline-dark border-0" type="submit" value="X" title="Delete">
                </form>
            </td>
            <td class="text-start">{{ record[2] }}</td>
            <td class="text-start">{{ record[4] }}</td>
            <td class="text-start">{{ record[5] }}</td>
            <td class="text-start"><em>{{ record[6] }}</em></td>
            <td class="text-end text-success">{% if record[3] in "Income" %}{{ record[7] }}{% else %}{% endif %}</td>
            <td class="text-end text-danger">{% if record[3] not in "Income" %}{{ record[7] }}{% else %}{% endif %}</td>
            <td>
                <form action="/edit" method="post">
                    <input type="hidden" name="edit_error_code" value="{{ record[8] }}">
                    <button class="btn btn-outline-dark border-0" type="submit" title="Edit">
                        <svg aria-hidden="true" style="display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em;width:1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M498 142l-46 46c-5 5-13 5-17 0L324 77c-5-5-5-12 0-17l46-46c19-19 49-19 68 0l60 60c19 19 19 49 0 68zm-214-42L22 362 0 484c-3 16 12 30 28 28l122-22 262-262c5-5 5-13 0-17L301 100c-4-5-12-5-17 0zM124 340c-5-6-5-14 0-20l154-154c6-5 14-5 20 0s5 14 0 20L144 340c-6 5-14 5-20 0zm-36 84h48v36l-64 12-32-31 12-65h36v48z"></path></svg>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0"></td>
            <td class="border-0"></td>
            <td class="border-0"></td>
            <td class="border-0"></td>
            <td class="border-0 fw-bold text-start">TOTAL</td>
            <td class="border-0 fw-bold text-end text-success">{{ income }}</td>
            <td class="border-0 fw-bold text-end text-danger">{{ expense }}</td>
            <td class="border-0"></td>
        </tr>
    </tfoot>
</table>
{% endblock %}