{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="row">

    <div class="col-sm-1">
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Record</button>
    </div>

    <div class="col-sm-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Anything" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
        </div>
    </div>

    <div class="col-sm-4">
        <form>
            <div class="input-group mb-3">
                <input type="date" class="form-control">
                <button class="btn btn-primary" type="button" id="button-addon2">Filter</button>
            </div>
        </form>
    </div>

</div>

<div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br>
</div>
{% endblock %}