{% extends "layout.html" %}

{% block title %}
    Report
{% endblock %}

{% block main %}
<h4 class="mb-5 fw-bold">Report & <br> Statistics</h4>

<!-- FILTER BUTTON -->
<div class="row">
    <div class="col-lg-1 mb-3"></div>
    <div class="col-lg-5 mb-3">
        <form action="/report" method="post">
            <button name="filter_btn" value="This Month" type="submit" class="btn btn-primary m-2">This Month</button>
            <button name="filter_btn" value="Last 30D" type="submit" class="btn btn-primary m-2">Last 30D</button>
            <button name="filter_btn" value="This Year" type="submit" class="btn btn-primary m-2">This Year</button>
            <button name="filter_btn" value="All Time" type="submit" class="btn btn-primary m-2">All Time</button>
        </form>
    </div>

    <div class="col-lg-5">
        <form action="/report" method="post">
            <div class="input-group mb-3">
                <input name="start_date" type="date" class="form-control mt-2">
                <input name="end_date" type="date" class="form-control mt-2">
                <button name="filter_btn" value="between" class="btn btn-primary mt-2" type="submit" id="button-addon2">Filter</button>
            </div>
        </form>
    </div>
<!-- row -->
</div>
<br>

<!-- CARDS -->
<div class="row">
    <div class="col-lg-5">
        <div class="card border-primary mb-3" >
            <div class="card-header">Cash Flow</div>
            <div class="card-body">
                <p class="mb-1 text-start"><small>{{ label }}</small></p>
                <p class="card-text text-start"><span class="fw-bold">{{ diff }}</span></p>
                <!--Income-->
                <p class="mb-1 text-start"><small>
                    Income
                    <span class="mt-1" style="float:right;">{{ total_income_f }}</span>
                </small></p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ income_percent }}%;" aria-valuenow="{{ income_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <!--Expense-->
                <p class="mb-1 text-start"><small>
                        Expenses
                        <span class="mt-1" style="float:right;">{{ total_expense_f }}</span>
                </small></p>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ expense_percent }}%;" aria-valuenow="{{ expense_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mb-3"></div>
            </div>
        </div>

        <div class="card border-primary mb-3">
            <div class="card-header">Inphographic</div>
            <div class="card-body">
                <h5 class="card-title">Horizontal Barplot</h5>
                <h6 class="card-subtitle text-muted">comparisons between categories</h6>
            </div>
            <a href="static/img/{{ img_e }}.png" target="_blank">
                <img src="static/img/{{ img_e }}.png" class="img-fluid" alt="plot">
            </a>
            <div class="card-body">
            </div>
        </div>
    </div>


    <div class="col-lg-7">
        <div class="card border-primary mb-3">
            <div class="card-header">Reports</div>
            <div class="card-body">
                <p class="mb-1 text-start"><small>{{ label }}</small></p>
                <!-- INCOME TABLE -->
                <p class="card-text text-start"><span class="fw-bold">{{ diff }}</span></p>
                <h4 class="mb-5 fw-bold">Income & Expenses</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-start">Income</th>
                            <th class="text-end">Amount</th>
                            <th class="text-end" style="width:15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in income_list_amount_f %}
                        <tr>
                            <td class="text-start">{{ i[0] }}</td>
                            <td class="text-end">{{ i[1] }}</td>
                            <td class="text-end"><small>{{ i[2] }}%</small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="border-0"></td>
                            <td class="border-0 fw-bold text-end">{{ total_income_f }}</td>
                            <td class="border-0 fw-bold text-end"><small>100%</small></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- EXPENSES TABLE -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-start">Expenses</th>
                            <th class="text-end">Amount</th>
                            <th class="text-end" style="width:15%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in expense_list_amount_f %}
                        <tr>
                            <td class="text-start">{{ i[0] }}</td>
                            <td class="text-end">{{ i[1] }}</td>
                            <td class="text-end"><small>{{ i[2] }}%</small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="border-0"></td>
                            <td class="border-0 fw-bold text-end">{{ total_expense_f }}</td>
                            <td class="border-0 fw-bold text-end"><small>100%</small></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
<!-- row -->
</div>
{% endblock %}

<!--How may I align text to the left and text to the right in the same line?-->
<!--https://stackoverflow.com/questions/12438339/how-may-i-align-text-to-the-left-and-text-to-the-right-in-the-same-line-->
